<?php

/**
 * Der Modulprogrammierer - Vinai Kopp, Rico Neitzel GbR
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the
 * Der Modulprogrammierer - COMMERCIAL SOFTWARE LICENSE (v1.0) (DMCSL 1.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.der-modulprogrammierer.de/licenses/dmcsl-1.0.html
 *
 *
 * @category   DerModPro
 * @package    DerModPro_GroupSwitcherRegCode
 * @copyright  Copyright (c) 2010 Der Modulprogrammierer - Vinai Kopp, Rico Neitzel GbR
 * @license    http://www.der-modulprogrammierer.de/licenses/dmcsl-1.0.html (DMCSL 1.0)
 */

/* @var $this Mage_Core_Block_Template */
?>
	<label for="groupswitcher_code"><?php echo $this->__('Registration Code') ?></label>
	<div class="input-box">
		<input type="text" name="groupswitcher_regcode" id="groupswitcher_code" value="<?php echo $this->htmlEscape($this->getParentBlock()->getFormData()->getGroupswitcherRegcode()) ?>" title="<?php echo $this->__('Registration Code') ?>" class="input-text" />
	</div>